.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fbc7d4, #9796f0);
  min-height: 100vh;
}

.content-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 50px;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .content-container {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.main-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  max-width: 350px;
}

.form-labels {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.form-inputs {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #b5b7c4;
  border-radius: 8px;
  padding: 12px 5px 12px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  width: 100%;
}

.add-btn {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  border: 0 none;
  border-radius: 12px;
  background-color: #8b5cf6;
  padding: 12px 24px 12px 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.appointments-img {
  width: 45%;
  max-width: 450px;
}

.line {
  border: 1px solid #b5b7c4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-heading-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .view-heading-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.view-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}

.starred-btn {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border-radius: 18px;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
  outline: none;
}

.selected {
  color: #ffffff;
  border: none;
  background-color: #8b5cf6;
}

.to-select {
  color: #9897f0;
  border: 1px solid #9897f0;
  background-color: transparent;
}

.appointments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .appointments-list {
    flex-direction: column;
  }
}
